Yemek Menu.json
{
  "name": "Yemek Menu",
  "nodes": [
    {
      "parameters": {
        "url": "...",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "0a38d61f-f8f5-4ab2-b6ba-3cc02f988fc0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "gmenu",
              "cssSelector": ".panel.panel-success .panel-body"
            },
            {
              "key": "ymenu",
              "cssSelector": ".panel.panel-danger .panel-body"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "bfd05073-effd-4abc-9f3b-cd19ed2cb7f9",
      "name": "HTML"
    },
    {
      "parameters": {
        "fromEmail": "...",
        "toEmail": "...",
        "subject": "Günün ve Yarının Yemek Menüsü",
        "emailFormat": "both",
        "text": "=Günün Menüsü\n{{$json[\"gmenu\"] }}\nYarının Menüsü\n{{ $json[\"ymenu\"] }}",
        "html": "=<h2>Günün Menüsü</h2>\n<table border=\"1\" cellpadding=\"5\" cellspacing=\"0\">\n  <tr>\n    <th>Yemek</th>\n    <th>Kalori</th>\n  </tr>\n  {{$json[\"gmenu\"].split('\\n').map(item => {\n    let parts = item.match(/(.*)\\s+(\\d+)$/); // sondaki sayıyı kalori olarak ayırır\n    if(parts) return `<tr><td>${parts[1]}</td><td>${parts[2]}</td></tr>`;\n    else return `<tr><td>${item}</td><td></td></tr>`;\n  }).join('')}}\n</table>\n\n<h2>Yarının Menüsü</h2>\n<table border=\"1\" cellpadding=\"5\" cellspacing=\"0\">\n  <tr>\n    <th>Yemek</th>\n    <th>Kalori</th>\n  </tr>\n  {{$json[\"ymenu\"].split('\\n').map(item => {\n    let parts = item.match(/(.*)\\s+(\\d+)$/);\n    if(parts) return `<tr><td>${parts[1]}</td><td>${parts[2]}</td></tr>`;\n    else return `<tr><td>${item}</td><td></td></tr>`;\n  }).join('')}}\n</table>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        624,
        0
      ],
      "id": "486b0311-e0fc-4755-a164-fb3286d6ff97",
      "name": "Send email",
      "webhookId": "5b4b5fd7-3660-496a-996d-74a6d2a5bb8a",
      "credentials": {
        "smtp": {
          "id": "your ID",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                0,
                1,
                2,
                3,
                4,
                5
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "b52e20db-2225-4787-92ba-831436ee99ea",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Istanbul",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "8bb5e0c8-7012-44a9-9376-ad4d7ea595fa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0dcd2ef4af569dd52fd9e836ee2c4a03854b09fd0c957e28b905648be26cb0fb"
  },
  "id": "z4fgpfkJENqWshwU",
  "tags": []
}
